.row
  .col-md-12.text-center
    %a.btn.btn-primary.btn-large{:href => "#{clinics_path}", 'data-no-turbolink' => true}
      %h3
        =t('find_clinic')

%br/
%br/
.row
  .col-md-12.text-center
    %a.btn.btn-info.btn-large{:href => "#{select_topic_path}", 'data-no-turbolink' => true}
      %h3
        =t('find_clinic_by_service') 


%br/
%br/
.row
  .col-md-6.col-md-offset-3    
    .panel.panel-info
      .panel-body
        %h4.text-center
          =t('emergency_call_instructions')
          

%br/
%br/
.row
  .col-md-12.text-center
    %h3 Want to help? Contribute essential info now.
    %a.btn.btn-primary{:href => "#{about_path}"}
      %h4
        =t('learn')
