.row
  .col-md-12.text-center
    %a.btn.btn-primary.btn-large{:href => "#{clinics_path}"}
      %h1
        Find Nearest Health Clinic

%br/
%br/
.row
  .col-md-12.text-center
    %a.btn.btn-info.btn-large{:href => "#{clinics_path}"}
      %h3 List of All Clinics


%br/
%br/
.row
  .col-md-6.col-md-offset-3    
    .panel.panel-info
      .panel-body
        %p Health Search is a website to help find the nearest health clinic, specifically intended for refugees and displaced people enroute through Europe who require medical services.