.row
  .col-md-12.text-center
    %a.btn.btn-primary.btn-large{:href => "#{clinics_path}"}
      %h1
        =t('find_clinic')

%br/
%br/
.row
  .col-md-12.text-center
    %a.btn.btn-info.btn-large{:href => "#{clinics_path}"}
      %h3=t('list_of_clinics')


%br/
%br/
.row
  .col-md-6.col-md-offset-3    
    .panel.panel-info
      .panel-body
        %p=t('home_description') 