@import "jquery-ui"
@import "bootstrap"


p, th, td
  font-size: 1.5em

#map
  width: 100%
  height: 300px

.navbar
  background: #002957

.navbar-brand
  height: auto
  font-size: 2em
  color: #fff
  &:hover
    color: #fff
  img
    display: inline-block
    margin-right: 10px

.btn
  h1, h2, h3, h4
    margin-top: 10px
