@import "jquery-ui"
@import "bootstrap"
@import "theme"

.additional
  display: none

body
  background: #17baef
  color: #fff

.day
  margin-left: 5%

.day-label
  display: inline-block
  margin-left: 2%
  margin-top: 1em
  width: 150px

.filter-topics
  span
    font-size: 1.2em
    font-weight: bold
  .btn
    margin: 5px


p
  font-size: 1.4em
  a
    color: #eebf3f
    &.img
      display: block
      &:hover
        text-decoration: none
      img
        display: inline-block    
        margin-right: 20px 
        width: 50px


th, td
  font-size: 1.2em

.languages
  a
    display: inline-block
    padding: 20px
  ul
    background: #fff
    li a
      color: #17baef
      font-size: 2em
  .logout
    font-size: 1em
  .btn-group .btn
    background: none
    i
      color: #fff

.list 
  padding: 0
  margin: 0
  li
    width: 100%
    list-style-type: none
    margin: 50px 0
    .list-link
      width: 100%
      display: block
      color: #fff
      margin-bottom: 2em
      float: left
      span
        padding: 10px 2%
        font-weight: bold
        font-size: 1.5em
        font-family: 'Montserrat', sans-serif
        display: inline-block
        float: left
      .name
        width: 70%
        background: #074f66
        -webkit-border-top-left-radius: 4px
        -moz-border-top-left-radius: 4px
        -ms-border-top-left-radius: 4px
        -o-border-top-left-radius: 4px
        border-top-left-radius: 4px
        -webkit-border-bottom-left-radius: 4px
        -moz-border-bottom-left-radius: 4px
        -ms-border-bottom-left-radius: 4px
        -o-border-bottom-left-radius: 4px
        border-bottom-left-radius: 4px
      .distance
        font-size: 1em
        width: 26%
        background: #eebf3f
        -webkit-border-top-right-radius: 4px
        -moz-border-top-right-radius: 4px
        -ms-border-top-right-radius: 4px
        -o-border-top-right-radius: 4px
        border-top-right-radius: 4px
        -webkit-border-bottom-right-radius: 4px
        -moz-border-bottom-right-radius: 4px
        -ms-border-bottom-right-radius: 4px
        -o-border-bottom-right-radius: 4px
        border-bottom-right-radius: 4px
      &:hover
        text-decoration: none


.navlink
  height: 100%
  display: table
  a
    font-family: 'Montserrat', sans-serif
    font-weight: 700
    display: table-cell
    vertical-align: middle
    font-size: 1.5em
    color: #fff
    &:hover
      color: #fff
      text-decoration: none


#map
  width: 100%
  height: 300px

.navbar
  // background: #0725B2

.navbar-header
  height: 100px
  width: 100%

.navbar-brand
  height: auto
  font-size: 2em
  color: #fff
  &:hover
    color: #fff
  img
    display: inline-block
    margin-right: 10px

.panel
  color: #17baef
  &.dark
    color: #fff
    background: #074f66
    border: none
    border-radius: 0

.btn
  h1, h2, h3, h4
    margin-top: 10px
    color: #fff

.shift
  display: block
  margin-left: 10%
  .days
    display: inline-block
    min-width: 150px
  .times
    text-align: left

.show-times
  margin-left: 10px
  display: inline-block

table
  td
    background: #fff
    padding: 50px

.time
  width: 10%
  display: inline-block


